* {
    background-color: rgb(194, 185, 185);
}

h1 {
    padding-top: 30px;
    text-align: center;
    align-items:  center;
}

.Card-Group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-between;
    height: 1000px;
    width: 75%;
    margin-left: 200px;
}

.card-container {
    width: 300px;
    height: 425px;
    overflow: hidden;
    box-shadow: 0px 0px 15px 5px;
    transition: 0,5s;
    animation: ease-in;
    margin: 75px 60px;
    border: 3px solid black;
}

.card-container:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 15px 0px;
}

.image-container img{
    width: 300px;
    height: 200px;
    border: 2px solid black;
}

.card-content {
    margin: 1rem;
    margin-left: 1.5rem;
}

.card-title {
    margin-bottom: 0.5rem;
}



.card-body {
    text-align: center;
    
}




